/*.left_col{background:#1b252f;}
.nav.side-menu > li{background:#343f44;border:1px solid #1b252f;}
.nav.side-menu > li.active, .nav.side-menu > li.current-page{background: #1480e4;color:#fff;}
.nav.side-menu > li.active, .nav.side-menu > li.current-page{border-right: 5px solid #1480e4;}
.nav.child_menu > li > a, .nav.side-menu > li > a{color:#fff;}
.nav.side-menu > li:hover{background:#1480e4;}
.nav_menu{background: #333a43;}
.toggle a i{color:#fff;}
.top_nav li a i{color:#fff;}
.top_menu_user_name{color:#fff;}
.breadcrumb_text h1{color:#000;}*/
.today{float:left;}
.btc li{padding-right:16px;font-size:18px;font-weight:500;color:#000;}
.btc{padding-top:15px;}
.heading p{display: inline-block;padding-left: 10px;}
.top_box h2{text-align: center;}
.top_box.sec{margin:0;}
.top_box{background:#1480e4;margin-left: 10px;width:486px;margin-right:21px;margin-bottom:20px;}
.top_box h5, .top_box h2{color:#fff;}
.clk .fa{color:#fff;font-size:65px;display:inline-block;padding:10px 0;}
.clock h5{display: inline-block;padding-top:12px;vertical-align:top;padding-left:10px;font-size:16px;}
.trans{background: #5a5e67;color:#fff;width:993px;margin:0 10px 20px;}
.top_links input{background: #5a5e67;color:#fff;width:79%;border:none;padding:10px;border-radius:5px 0 0 5px;float:left;}
.top_links button{background: #50C1CF ;color:#fff;width:20%;border:none;padding:10px 0;margin:0;border-radius:0 5px 5px 0;}
.pdf{background: #50C1CF ;color:#fff;border:none;padding:10px;width:25%;border-radius:5px;margin:15px 0 30px 0;}
.pdf a{color:#fff;}
.timer ul li{display: inline-block;list-style-type: none;color:#fff;}
.timer{text-align:right;background: #5a5e67;border-radius:5px;padding:10px 65px 10px 20px;float:right;width:260px;margin-right: 10px;}
.timer .time_count li{padding-right: 6px;}

.top_bar{width:202px;}
.tile-stats{min-height:117px;}
.tile-stats .count{padding:10px;}

.refer-link button {
    font-size: 13px;
    padding: 0 15px;
}
.alert-warning{background: #50C1CF;border-color: #50C1CF;}
.input-number.coin-amount{margin:10px;width:93%;}
.promo-code-form .btn{padding:2px 12px;}
.btn.btn-primary.btn-raised.btn-block.buy-now{width:15%;margin:0 auto;}
.list-currency select{padding:10px;}
.calculator {
    background: #4a4a4a none repeat scroll 0 0;
    bottom: -30px;
    margin: 0;
    text-align: center;
    position: relative;
}
.calculator .left, .calculator .right {
    float: left;
    padding-top: 25px;
    width: 50%;
    position: relative;
}
.calculator .form-group {
    display: inline-block;
    margin: 0 0 10px;
    width: 180px;
    vertical-align: top;
}
.form-group {
    position: relative;
}

.calculator input.form-control {

    color: #fff;
    font-size: 26px;
    font-family: "opensans-regular-webfont";
    line-height: 0;
    margin: 0 auto 10px;
    padding-bottom: 5px;
    padding-top: 0;
    text-align: center;

}
.calculator input.form-control {
background: transparent;
border:none;
    background-image: none;
    border-bottom: 1px solid #d2d2d2;

}
.calculator .form-group label {
    color: #9b9b9b;
    font-size: 10px;
    display: block;
    font-family: "opensans-regular-webfont";
    word-break: break-all;
    text-align: center;
    font-size:16px;
}
.calculator .direction {
    background-color: #50C1CF;
    border-radius: 50%;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
    color: rgba(255, 255, 255, 0.84);
    font-size: 24px;
    height: 42px;
    line-height: normal;
    margin-top: 15px;
    min-width: 42px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: -21px;
    width: 42px;
    z-index: 10;
}
.calculator .direction i {
    margin-top: 8px;
}
.calculator .total, .calculator .bonus {
    background: #50C1CF none repeat scroll 0 0;
    float: left;
    height: 65px;
    padding: 15px 0;
    position: relative;
    text-align: center;
    width:100%;
}
.btn.btn-raised {
    padding: 10px 20px;
}
.list-currency .btn-select {
    background: #50e3c2 url("../assets/images/caret.png") no-repeat scroll 100% 50%;
    border: 0 none;
    border-radius: 3px;
    box-shadow: none;
    color: #3f3f3f;
    font-family: "opensans-regular-webfont";
    font-size: 12px;
    padding: 10px 20px;
    width: 140px;
}
.prg{padding-bottom: 8%;}


.dep_form input {
    width: auto;
    border-radius: 0;
    vertical-align: middle;
}

.top_links input {
    background: #5a5e67;
    color: #fff;
    border: none;
    padding: 10px;
    float: left;
}

.dep_form .dep_but{
width:12%;
border-radius:0;
margin-top:0 !important;
margin-left:10px;
}

form.dep_form{
margin-bottom:10px;
}


.calculator .left, .calculator .right{float:none;margin:0 auto;}
    .calculator .direction{right:28px;top:90px;}
}  

.row {
    margin-right: 0;
    margin-left: 0;
}
.top_links {
    margin-bottom: 15px;
}


/*Responsive*/

@media screen and (max-width:1300px)
{
    .row{margin-right:0;margin-left:0;}
    .trans{width:97%;margin:0;}
}

@media screen and (max-width:1200px)
{
    .today h2{font-size:22px;}
    .top_nav .navbar-right li{font-size:14px;}
    .btc{padding-top:13px;}
    .toggle a i{margin-top: -6px;}
    .toggle a{padding:13px 20px 15px;}
}
@media screen and (max-width:400px)
{ 
    .trans{margin-top:20px;}
    .calculator .left, .calculator .right{float:none;margin:0 auto;}
    .calculator .direction{right:28px;top:90px;}
}  

@media screen and (max-width:767px)
{
    .nav-top ul li{display: block;float:none;text-align: center;}
    .nav-top ul{display: block;}
    .nav-top ul li a{text-align: center;}
    .text-right{text-align: center;}
    .logo_blk{text-align: center;}
    .trans h2{font-size: 20px;}
    .today {
    float: none;
    text-align: center;
}
.top_nav .navbar-right {
    margin: 0;
    width: 100%;
    float: none;
    text-align: center;}
    .top_nav .navbar-right li{float: none;}
    .top_bar{width:100%;}
    .top_links input{float:none;width:100%;margin-bottom: 15px;}
    .dep_form .dep_but{margin-left: 0;}
    .tab-content label{text-align: center;margin-bottom: 10px;display: block;}
    .btn.btn-primary.btn-raised.btn-block.buy-now{width:100%;}
    .dep_form .dep_but{width:100%;}
}

@media screen and (max-width:550px){
.x_content thead{display:block;}
.x_content .table th{display:block;text-align:center;}
.x_content tbody{display:block;text-align:center;}
.x_content thead tr {
    display: block;
}
.x_content tbody tr {
    display: block;
}
.x_content tbody tr td{
    display: block;
}
}

@media screen and (max-width:460px)
{
.dataTables_wrapper .col-sm-6{width:100%;float:none;}
.dataTables_wrapper label{width:100%;}
.dataTables_length{width:100%;text-align: center;}
.dataTables_filter{width:100%;text-align: center;margin:20px 0;}
.dataTables_wrapper .col-sm-5{float:none;margin-top:10px;}
.dataTables_wrapper .col-sm-7{float:none;}
.dataTables_info {
    width: 100%;
    float: none;
    text-align: center;

}
.dataTables_paginate {
    float: none;
    text-align: center;
    width: 100%;
}
.pull-right{float:none !important;text-align: center;}
.toggle{padding-top:3px; }
.nav-sm footer{margin-left:0;}
}
